<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <link rel="shortcut icon" href="/static/icon/title.svg" type="image/x-icon" />
        <!-- common css -->
        <link rel="stylesheet" href="/static/css/common.css" />
        <!-- element ui css -->
        <link rel="stylesheet" href="/plugin/element-ui/element-ui-index.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/plugin/Bootstrap/css/bootstrap.css" />
        <!-- article css -->
        <link rel="stylesheet" href="/static/css/article/index.css" />
        <title>博客文章</title>

        <!-- Bootstrap -->

        <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
        <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="article" class="row">
            <el-select v-model="fileName" placeholder="请选择要阅读的文章" clearable class="select visible-xs-12 hidden-sm hidden-md hidden-lg">
                <el-option v-for="item in mdFileList" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
            <ul class="list-group scroll col-sm-4 col-md-4 col-lg-4 hidden-xs">
                <li @click="fileName=item.value" :class="['list-group-item',item.value==fileName? 'checked':'']" v-for="item in mdFileList" :key="item.value">
                    {{item.value}}
                </li>
            </ul>

            <div class="MD_Content col-sm-8 col-md-8 col-lg-8">
                <div id="fileList" class="scroll"></div>
            </div>
        </div>
    </body>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/plugin/jQuery/jquery.js"></script>
    <!-- ajax -->
    <script src="/static/api/jQuery-Ajax.js"></script>
    <!-- api request -->
    <script src="/static/api/function.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/plugin/Bootstrap/js/bootstrap.js"></script>
    <!-- vuejs -->
    <script src="/plugin/vuejs/vue.min-v2.js"></script>
    <!-- 引入 element ui 组件库 -->
    <script src="/plugin/element-ui/element-ui.js"></script>
    <!-- markdown to html  -->
    <script src="/plugin/marked.js"></script>
    <script defer>
        $(function () {
            $('#article').css({
                visibility: 'hidden',
            });
            window.parent.addEventListener('load', function (e) {
                let width = e.currentTarget.innerWidth;
                if (width <= 768) {
                    $('.list-group,.MD_Content').css({
                        height: 'calc(100vh - 56px)',
                    });
                } else {
                    $('.list-group,.MD_Content').css({
                        height: '100vh',
                    });
                }
            });
            window.parent.addEventListener('resize', function (e) {
                let width = e.currentTarget.innerWidth;
                if (width <= 768) {
                    $('.list-group,.MD_Content').css({
                        height: 'calc(100vh - 56px)',
                    });
                } else {
                    $('.list-group,.MD_Content').css({
                        height: '100vh',
                    });
                }
            });
            getMarkdownFileNameList(res => {
                let pieceThoughts = [];
                res.pieceThoughts.forEach(ele => {
                    pieceThoughts.push({
                        value: ele,
                        label: ele,
                    });
                });
                const myVue = new Vue({
                    el: '#article',
                    data() {
                        return {
                            mdFileList: pieceThoughts,
                            fileName: '',
                        };
                    },
                    mounted() {
                        $('#article').css({
                            visibility: 'visible',
                        });
                    },
                    watch: {
                        fileName: function (nval, oval) {
                            if (nval.length > 0) {
                                getPieceThoughtsContent(nval, res => {
                                    $('#fileList').html(marked(res));
                                });
                            } else {
                                return;
                            }
                        },
                    },
                });
            });
        });
    </script>
</html>
