@charset "UTF-8";

@font-face {
  font-family: "FiraCode";
  src: url("../font/FiraCode-Bold.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.FiraCode {
  font-family: "FiraCode" !important;
}
#map {
  width: calc(100%);
  margin: 0 auto;
  height: calc(100vh);
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
#map::-webkit-scrollbar {
  display: none;
}
#map:focus {
  border: 1px solid red;
}
.contect {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
