<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>问候</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../static/css/typer.css" />
        <link rel="stylesheet" href="../../static/css/common.css" />
        <style>
            .lu_word_title {
                line-height: 2em;
            }
        </style>
        <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
        <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="contect">
            <p class="bolderTitle"><b class="en_us_b">Hello</b></p>
            <span id="typer" class="en_us_b"></span>
        </div>
    </body>
    <script src="../../plugin/jQuery/jquery.js"></script>
    <script>
        $(function () {
            $.getScript('../../plugin/word.js', function (script, textStatus, jqXHR) {
                if (textStatus == 'success') {
                    // 打字机
                    var typer = $('#typer');
                    typer.lu_word({
                        text: ["I'm a Developer.", "Maybe I'm a Half Photographer...", 'Glad to See You!'], //文本
                        color: '#26292e', //字体和光标颜色
                        speed: 200, //打字速度
                        sleep: 2000, //回退停顿时间
                        width: '100%', //宽度
                        height: '100%', //高度
                        background: '#00000000', //背景颜色
                        sign: true, //启动或停止
                    });
                }
            });
        });
    </script>
</html>
